<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.internship">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/unnamed"
        android:label="internship"

        android:supportsRtl="true"
        android:theme="@style/AppTheme_white">
        <activity android:name="com.example.internship.startpage"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.internship.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name="com.example.internship.UserProfile"
            android:screenOrientation="portrait"
            android:label="Profile"
            android:theme="@style/AppTheme"></activity>

        <activity android:name="com.example.internship.gmail_userprofile"
            android:screenOrientation="portrait"
            android:label="Profile"
            android:theme="@style/AppTheme"></activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>